{% extends "muistilista_base.html" %}
{% block content %}
<div class="container">
    <h1>Ylläpito</h1>
    <h3>Kaikkien tehtävien listaus</h3>
    <h3><a href="{{base_path}}/admin/users">Kaikkien käyttäjien listaus</a></h3>

    <div>
        <p>{{message}}</p>
    </div>
    <p>Klikkaa riviotsikkoa järjestääksesi tehtävät sen mukaan.</p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tehtävä</th>
                <th>Prioriteetti</th>
                <th>Luokka</th>
                <th>Status</th>
                <th>Lisätty</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {% for task in tasks|sort %}

            <tr>
                <td>{{task.id}}</td>
                <td><a href="{{base_path}}/teht/{{task.id}}/admin/show">{{task.title}}</a></td>
                <td>{{task.priority}}</td>
                <td>{{task.classname}}</td>
                <td>

                    {% if task.done %}
                    <label class="label label-success">Suoritettu</label>
                    {% else %}
                    <label class="label label-danger">Suorittamatta</label>
                    {% endif %}

                </td>
                <td>{{task.added}}</td>
                <!--            <th><a class="btn btn-default btn-sm" href="#">Poista</a></th>-->
                <!--                <th><form method="post" action="{{base_path}}/task/{{task.id}}/done" style="display: inline-block;">
                            <button type="submit" class="btn btn-default btn-sm">Status</button>
                        </form></th>-->
                <th>        <form method="get" action="{{base_path}}/teht/{{task.id}}/admin/muokkaus" style="display: inline-block;">
            <button type="submit" class="btn btn-default btn-sm">Muokkaa</button>
        </form></th>
        <th><form method="post" action="{{base_path}}/task/{{task.id}}/admin/destroy" style="display: inline-block;">
            <button type="submit" class="btn btn-default btn-sm">Poista</button>
        </form></th>
        </tr>

        {% endfor %}

        </tbody>
    </table>

</div>
{% endblock %}