{% extends "muistilista_base.html" %}
{% block content %}
<div class="container">
    <h1>Tehtäväluokat</h1>
    <div>
        <p>{{message}}</p>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Luokan nimi</th>
                <th>Muokkaa</th>
                <th>Poista</th>
            </tr>
        </thead>

        <tbody>

            {% for class in classes|sort %}

            <tr>
                <td>{{class.id}}</td>
                <td>{{class.classname}}</td>
                <td><form method="get" action="{{base_path}}/luokat/{{class.id}}/muokkaus" style="display: inline-block;">
                        <button type="submit" class="btn btn-default btn-sm">Muokkaa</button>
                    </form></td>
                <td><form method="post" action="{{base_path}}/luokat/{{class.id}}/destroy" style="display: inline-block;">
                        <button type="submit" class="btn btn-default btn-sm">Poista</button>
                    </form></td>

            </tr>

            {% endfor %}

        </tbody>
    </table>

    <h2>Lisää kategoria</h2>

    {% if errors %}
    <div class="alert alert-danger">

        {% for error in errors %}
        <p>{{error}}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" action="{{base_path}}/luokkalisatty">
        <div class="form-group">
            <label>Luokka</label>
            <input name="classname" class="form-control" placeholder="Luokan nimi" type="text">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lisää luokka</button>
        </div>
    </form>
</div>
{% endblock %}