{% extends "muistilista_base.html" %}
{% block content %}
<div class="container">
    <section>
        <form method="get" action="{{base_path}}/listaus" style="display: inline-block;">
            <button type="submit" class="btn btn-default btn-sm">Takaisin listaukseen</button>
        </form>
    </section>
    <section>
        <h1>{{attributes.title}}</h1>
        <p>Tehtävä nro: {{attributes.id}}</p>
    </section>
    <section>
        <div class="form-group">
            {% if attributes.done %}
            <label class="label label-success">Suoritettu</label>
            {% else %}
            <label class="label label-danger">Suorittamatta</label>
            {% endif %}
        </div>
        <div>
            <p>{{message}}</p>
        </div>
    </section>

    <section>
        <p>Tehtävän prioriteetti: {{attributes.priority}}</p>
        <p>Tehtävän lisätiedot</p>
        <p>{{attributes.info}}</p>
    </section>
    <section>
        <p>Tehtävä lisätty: {{attributes.added}}</p>

        {% if attributes.updated %}
        <p>Muokattu: {{attributes.updated}}</p>
        {% endif %}
    </section>
    <!--    <form method="post" action="{{base_path}}/task/{{attributes.id}}/showdone" style="display: inline-block;">
            <button type="submit" class="btn btn-default btn-sm">Status</button>
        </form>-->
    <section>
        <form method="get" action="{{base_path}}/teht/{{attributes.id}}/muokkaus" style="display: inline-block;">
            <button type="submit" class="btn btn-default btn-sm">Muokkaa</button>
        </form>
        <form method="post" action="{{base_path}}/task/{{attributes.id}}/destroy" style="display: inline-block;">
            <button type="submit" class="btn btn-default btn-sm">Poista</button>
        </form>
    </section>
</div>
{% endblock %}